*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", serif;
    background-color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1d232c;
}

.navbar-menu-toggle{
    display: none;
}

.side-navbar{
    background-color: #1d232c;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -50%;
    padding: 20px;
    color: white;
    transition: 1s;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-link a{
    text-decoration: none;
    color: white;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    border: 0;
    color: white;
    cursor: pointer;
}

/*Services*/
.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.service-container-2 div{
    background-color: #adb1b6;
    border-radius: 8px;
    padding: 10px;
}

/*new arrival*/
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding: 8px;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 60%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

/*news*/

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    background-color: #1d232c;
    color:white;
    padding: 10px;
    border-color:black ;
    cursor: pointer;
    border-radius: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: white;
}

.products-section{
    margin-top: 20px;
}

.products-search{
    width: 80%;
    border:solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.products-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.products-search input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box img{
    border-radius: 10px;
    border: #1d232c solid 2px;
}

/* Media Query*/

@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}